@model Shopomo.ContentProvider.Models.IContent

@{
    Layout = null;
}

<!DOCTYPE html>

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
<div>
      @Html.Partial("desktop")
</div>
</body>
</html>