@model Shopomo.ContentProvider.Models.IContent
<!DOCTYPE html>
@{
    Layout = null;
}

<html>
<head>
    <title>@Model.Title</title>
</head>
<body>
<div>
      @Html.Partial("desktop")
</div>
</body>
</html>